/* .header-box{
    height: 45px;
}
.nav-link a{
    background-color: #121259;
}
.header-box li{
    padding: 0 10px;
}
.nav-item{
    float: right;
    padding: 5px;
    list-style: none;
}


.iconn a{
    margin-right: 700px;
    font-size: 15px;
}
.iconn i{
    color: white;
}
.icon i{
    color: white;
    font-size: 13px;
}
.icon a{
    font-size: 15px;
}

.dropdown-item{
    font-size: 70%;
}
.navbar-collapse{
    font-size: 80%;
}
.dro-down{
    display: block;
    position: relative;
}
.dropdown-contant{
    display: none;
    position: absolute;
    background-color: rgb(226, 220, 231);
    border-radius: 10px;
}
.dro-down:hover .dropdown-contant{
    display: flex;
    
}
.dropdown-contant a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.head-ing{
    display: flex;
    padding: 0px 100px;
    font-weight: bold;
    font-size: 14px;
}
.but-on{
    border-radius: 10px;
    border: none;
    width: 25%;
    padding: 10px;
} */

.header-box {
    height: 80px;
}

.nav-link a {
    background-color: #121259;
}

.header-box li {
    padding: 0 10px;
}

.nav-item {
    float: right;
    padding: 5px;
    list-style: none;
}

/* .gyan {
    border-bottom: 7px solid;
    color: #002857;
    height: 80px;
} */

.iconn a {
    margin-right: 700px;
    font-size: 15px;
}

.iconn i {
    color: white;
}

.icon i {
    color: white;
    font-size: 13px;
}

.icon a {
    font-size: 15px;
}

.dropdown-item {
    font-size: 70%;
}

.navbar-collapse {
    font-size: 80%;
}

.dro-down {
    display: block;
    position: relative;
}

.dropdown-contant {
    display: none;
    position: absolute;
    background-color: rgb(226, 220, 231);
    border-radius: 10px;
}

.dro-down:hover .dropdown-contant {
    display: flex;

}

.dropdown-contant a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.head-ing {
    display: flex;
    padding: 0px 100px;
    font-weight: bold;
    font-size: 14px;
}

.but-on {
    border-radius: 10px;
    border: none;
    width: 25%;
    padding: 10px;
}

.img-one img {
    width: 60px;
}


.about{
    background-image: url(https://www.solidtheme.org/themes/tuition002/images/blue-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px 50px;
    text-align: center
}
.us h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: auto;
    margin: 20px 0px;
}
.us h1::before{
    content: "";
    position: absolute;
    height: 15px;
    border-bottom: 4px solid #ff9800;
    width: 100px;
    top: 230px;
    left: 46%;
}
.img-one img{
    height: 60%;
    /* width: auto; */
}


.bvv{
    margin-top: 50px;
}
.ddd p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: sans-serif;
}
.ddd{
    margin-top: 38px;
    margin-right: 55px;
}
.img-box img{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #ddd;
    margin-top: 30px;
    margin-left: -45px;
}
.bvv p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: sans-serif;
}


.online{
    background: #011c3a;
    border: 1px solid #dddddd;
    padding: 30px;
    text-align: center;
}
.online i{
    color: white;
    font-size: 70px;
    margin-bottom: 25px;
}
.online h3{
    font-size: 25px;
    color: white;
}
.online p{
    color: #a4a2a2;
    text-align: center;
}
.but-on{
    background: #ff9800;
    padding: 10px 20px;
    color: #fff5f5;
    font-weight: bold;
    width: 42%;
}
.class{
    margin-top: 90px;
}

.news{
    background-color: orange;
    padding: 50px;
    margin-top: 50px;
}
.newslatter h1{
    color: #002857;
    margin: 0px 0px 10px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.newslatter p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    font-family: sans-serif;
    width: 60%;
    margin-left: 30%;
    color: white;
}
.subscribe input{
    border: none;
    width: 100%;
    height: 45px;
    padding-left: 15px;
    color: #b6bbcc;
    font-size: 13px;
    outline: none;
    background-color: #002857;
    margin-left: 70%;
    margin-top: 30px;
}
.footer{
    background-color: #032145;
}
.foot p{
    line-height: 30px;
}
.footer-list ul{
    list-style: none;
}
.footer-list li{
    line-height: 30px;
    margin-left: -25px;
}
.foot{
    margin-top: 50px;
}

.img-oo{
    width: 100%;
    height: auto;
}
.img-oo img{
    width: 90%;
    margin-top: 55px;
}

@media only screen and (min-width: 320px) and (max-width: 990px){
    .footer{
        width: 100%;
    }
    .foot{
        margin: 10px;
        text-align: center;
    }
    .news{
        width: 100%;
    }
    .newslatter h1{
        font-size: 17px;
    }
    .newslatter p{
        font-size: 10px;
        margin-left: 0px;
        width: 110%;
    }
    .subscribe input{
        margin-left: 0px;
    }
    .img-oo{
        margin-left: 17px;
    }
    .ddd{
        width: 95%;
        margin: 10px;
    }
    .img-box img{
        margin-left: 0px;
    }
    .bvv{
        width: 90%;
        margin: 0;
    }
    .online{
        width: 100%;
    }
    .but-on{
        width: 52%;
    }
    .head-ing {
        display: flex;
        padding: 0px 100px;
        font-weight: bold;
        z-index: 999;
        font-size: 14px;
        position: absolute;
        background-color: #fff;
        width: 100%;
        top: 80px;
        left: 0;
    }
}